.panel-primary > .panel-heading {
    background-color: -webkit-linear-gradient(top,#5cb85c 0,#5cb85c 100%) !important;
    background-image: -o-linear-gradient(top,#5cb85c 0,#5cb85c 100%)!important;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#5cb85c),to(#5cb85c))!important;
    background-image: linear-gradient(to bottom,#5cb85c,#5cb85c 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb85c', endColorstr='#5cb85c', GradientType=0)!important;
    background-repeat: repeat-x !important;
}
.site-header{width:100%;text-align:center;color: #777;font-size: 22px;margin-top: 10px;}
.panel-border{border-color:#ddd !important;border:2px solid;}
.auction-live {color:#5cb85c; margin: 15px; font-size: 20px;}
.auction-closed {color:#ce4844;  margin: 15px; font-size: 20px;}
.auctionId {color:#1b809e;}
.form-group, .table {margin-bottom:0px !important}
.form-data{margin-top: 8px;}
.form-label{padding-right: 0px !important;}
.transactionDetail{ height:420px; overflow-x: hidden; overflow-y: auto; }
#ng-loading-overlay { font-size: 23px; font-weight: bold;}